{{>layout/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>

    <tbody>
    {{#article}}
    <tr>
        <th>{{id}} </th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>
<a href="/articles/{{article.id}}/update" class="btn btn-primary">수정하기</a>
<a href="/articles" class="btn btn-secondary">목록 화면</a>

{{>layout/footer}}